html
    head
        title #{title}
        link(rel='stylesheet', href='/stylesheets/style.css')
        link(rel='shortcut icon', href='/images/rupaul.ico', type='image/x-icon')
        link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Source+Code+Pro:200')
        link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Work+Sans:100')
    body
        .marker
        h1 Z
        .o
            h1 O
        .l
            h1 L
        .t
            h1 T
        .a1
            h1 A
        .n
            h1 N
        .a2
            h1 A
        .a3
            h1 A
        .apost
            h1 '
        .s
            h1 S
        .w
            h1 W
        .o2
            h1 O
        .r
            h1 R
        .l2
            h1 L
        h1 D

        .gif
            h2 Natasha Zedan
            a(class='vidButton', href='/menu') Enter Site
