doctype html
<!-- https://naltatis.github.io/jade-syntax-docs/#basics -->
html
  head
    title #{title}
    
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='shortcut icon', href='/images/rupaul.ico', type='image/x-icon')
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Source+Code+Pro:200')
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Work+Sans:100')
  body
    block content
    
