html
    head
        title #{title}
        link(rel="stylesheet" type="text/css" href="dreamcodes/social_icons/tsc_social_icons.css")
        link(rel='shortcut icon', href='/images/rupaul.ico', type='image/x-icon')
        link(rel='stylesheet', href='/stylesheets/menu.css')
        
    body
        .docScroller
            .one
                .inside
                    .h
                        h1 P
                    .o
                        h1 A
                    .l
                        h1 G
                    .t
                        h1 E
                    .a3
                        h1 H
                    .apost
                        h1 O
                    .s
                        h1 M
                    .w
                        h1 E
                    h2 Scroll down to view my Blog, Photos, Videos, and Writing
                   
        .docScroller
            .two
                .inside
                    iframe(class ='iframe' src="https://zoltanaasworld.blogspot.com/" )

        .docScroller
            .three
                .inside
                    .responsive
                        .gallery
                            a(href='/photos')
                                img(src='../images/vidBckgrd.jpg' width='600' height='400' alt='Photos')
                                <div class="desc">Photos</div>
                    .responsive
                        .gallery
                            a(href='/videos')
                                img(src='../images/vidBckgrd.jpg' width='600' height='400' alt='Videos')
                                <div class="desc">Videos</div>
                    .responsive
                        .gallery
                            a(href='/writing')
                                img(src='../images/vidBckgrd.jpg' width='600' height='400' alt='Writing')
                                <div class="desc">Writing</div>
                    a(class='clearfix')
        .docScroller
            .four
                .inside
                    h4 Natasha ahsatan
                    h3 Feel free to reach out to me through my email: nzedan@willamette.edu
                    h5 Zedan nadez
                    .icons
                        <script src="//www.powr.io/powr.js?external-type=html"></script> 
                        <div class="powr-social-media-icons" id="10d450f1_1522192116"></div>
                   


            
          


        

        
            

               
