html
  head
    title #{title}
    
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='shortcut icon', href='/images/rupaul.ico', type='image/x-icon')
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Source+Code+Pro:200')
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Work+Sans:100')
  body
    .a1
        h1 P
    .a3
        h1 H
    .o
        h1 O
    .a1
        h1 T
    .a3
        h1 O
    .o
        h1 S
    a(class='homeButton', href='/menu') Home
    h3 Check out my Photos Here!!