extends layout

block content
    .a1
        h1 P
    .a3
        h1 H
    .o
        h1 O
    .a1
        h1 T
    .a3
        h1 O
    .o
        h1 S
    a(class='homeButton', href='/menu') Home
    h3 Check out my Photos Here!!