extends layout

block content
    .o
        h1 V
    .l
        h1 I
    .t
        h1 D
    .a1
        h1 E
    .a2
        h1 O
    .a3
        h1 S
    a(class='homeButton', href='/') Home
    h3 pick a video and listen to random accompanyment from TIDAL
    video(width=320, height=240, controls='controls')
        source(src= '../public/videos/jtree.mp4' type= 'video/mp4')
    
       