extends layout

block content
    .o
        h1 V
    .l
        h1 I
    .t
        h1 D
    .a1
        h1 E
    .a2
        h1 O
    .a3
        h1 S
    a(class='homeButton', href='/') Home
    h3 pick a video and listen to random accompanyment from TIDAL
    .block
        video(width='1280', height='720', id='videoPlayer')
            source(src= '../videos/jtree.mp4' type= 'video/mp4')
        video(width='1280', height='720', id='videoPlayer2')
            source(src= '../videos/impostra.mp4' type= 'video/mp4')
        script.
            videoPlayer.addEventListener('click', function () {
            if (videoPlayer.paused === false) {
            videoPlayer.pause();
            videoPlayer.firstChild.nodeValue = 'Play';
            } else {
            videoPlayer.play();
            videoPlayer.firstChild.nodeValue = 'Pause';
             }
            });
            videoPlayer2.addEventListener('click', function () {
            if (videoPlayer2.paused === false) {
            videoPlayer2.pause();
            videoPlayer2.firstChild.nodeValue = 'Play';
            } else {
            videoPlayer2.play();
            videoPlayer2.firstChild.nodeValue = 'Pause';
             }
            });
       